<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image"
      href="https://freepngimg.com/download/sun/23533-7-sun-transparent-image.png"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&amp;family=Montserrat:ital@1&amp;family=Sacramento&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Baloo+Chettan+2|Tangerine&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />

    <title>Portfolio</title>
  </head>
  <body id="sky">
    <nav class="navbar m-2">
      <div class="container-fluid row">
        <div class="col">
          <a class="navbar-brand d-inline-block p-2" href="/"
            ><img class="profile" src="img/poco.png"
          /></a>
          <div class="nav-item d-inline-block p-2" id="about-link">
            <a class="nav-link" href="#about">About</a>
          </div>
          <div class="nav-item d-inline-block p-2">
            <a class="nav-link" href="#skill" id="skill-link">Work</a>
          </div>
        </div>
      </div>
    </nav>
    <br />

    <div class="" id="design">
      <div class="text-center">
        <div class="p-4" id="information">
          <h1 style="font-family: 'Tangerine', cursive; font-weight: 900">
            I'm Shubham Malhotra
          </h1>
          <p>A full Stack Developer.</p>
        </div>
        <div
          class="w-100"
          id="sun"
          style="
            position: absolute;
            top: 100px;
            transition: transform 0.8s ease;
          "
        >
          <!-- <img
             id="object" class=""
            src="https://freepngimg.com/download/sun/23533-7-sun-transparent-image.png"
          /> -->
          <div id="object" class="text-center"></div>
        </div>
        <img
          class="w-100 rounded"
          id="tree"
          style="position: relative"
          src="img/m2.png"
        />
        <!-- <img
        class="w-100" id=""
        style="position: relative"
        src="https://static.vecteezy.com/system/resources/thumbnails/024/554/213/small/mountain-hike-pine-tree-green-png.png"
      /> -->
      </div>
    </div>
    <!-- <div
      class="text-center p-3 card m-5"
      id="about"
      style="font-family: 'Merriweather', serif"
    >
      <h1 class="card-title">Hey!!!!</h1>
      <div class="card-body">
        <p>
          I'm a Full Stack Developer. Proficient in Python, Java, and Web
          Development, I bring a diverse skill set to the table. Additionally, I
          craft dynamic Android applications using both Java and Flutter.
          Explore my journey in code and innovation.
        </p>
      </div>
    </div>
    <hr />
    <div
      class="text-center p-3 card m-5"
      id="about"
      style="font-family: 'Merriweather', serif"
    >
      <h1 class="card-title">Skills</h1>
      <div class="card-body">
        <p>Good Listner 🙂🙂</p>
      </div>
    </div> -->
    <section class="sec-1">
      <div
        class="text-center p-3 m-5 strokeme"
        id="about-section"
        style="font-family: 'Merriweather', serif"
      >
        <h1 class="">Hi all, I'm Shubham🤟</h1>
        <div>
          <p class="">
            A Full Stack Developer. Proficient in Python, Java, and Web
            Development, I bring a diverse skill set to the table. Additionally,
            I craft dynamic Android applications using both Java and Flutter.
            having an experience of building Python Script, Mobile and Web
            applications with Java / Flutter / JavaScript / Nodejs and some
            other cool libraries and frameworks.
          </p>
        </div>
        <div class="social-media">
          <div class="d-inline-block p-2">
            <a
              class="btn btn-lg social"
              href="https://github.com/ShubhamM3958"
              target="_blank"
            >
              <i class="fab fa-github"></i>
            </a>
          </div>
          <div class="d-inline-block p-2">
            <a
              class="btn btn-lg social"
              href="https://www.linkedin.com/in/shubham-malhotra-019305211/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="d-inline-block p-2">
            <a
              class="btn btn-lg social"
              href="mailto:saadpasta70@gmail.com"
              target="_blank"
            >
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
        <div>
          <a><button class="btn btn-primary m-3 p-2">See My Resume</button></a>
        </div>
      </div>
    </section>
    <hr />

    <section class="sec-2 text-center">
      <div
        class="text-center p-3 m-5 strokeme"
        id="skill-section"
        style="font-family: 'Merriweather', serif"
      >
        <h1 class="">What I do</h1>
        <div class="">
          <p>
            Adventurous full-stack developer eager to delve into diverse
            technology stacks. 🙂🙂
          </p>
        </div>
        <div class="">
          <div class="d-inline-block p-2">
            <a class="col">
              <i class="fab fa-python programming block row"></i>
            </a>
            <p>Python</p>
          </div>
          <div class="d-inline-block p-2">
            <a class="">
              <i class="fab fa-java programming"></i>
            </a>
            <p>Java</p>
          </div>
          <div class="d-inline-block p-2">
            <a class="">
              <i class="fab fa-node programming"></i>
            </a>
            <p>NodeJs</p>
          </div>
          <div class="d-inline-block p-2">
            <a class="">
              <i class="fab fa-android programming"></i>
            </a>
            <p>Android</p>
          </div>
          <div class="d-inline-block p-2">
            <a class="">
              <i class="fab fa-js programming"></i>
            </a>
            <p>Javascript</p>
          </div>
          <div class="d-inline-block p-2">
            <a class="">
              <i class="fab fa-html5 programming"></i>
            </a>
            <p>Html-5</p>
          </div>
        </div>
      </div>
    </section>
    <br />

    <footer class="text-center w-100">
      <div class="container">
        <p>&copy; 2023 Shubham Malhotra | @Shubham_poco</p>
      </div>
    </footer>
    <script src="main.js"></script>
  </body>
</html>
